.td-img{
    width: auto;
    height: 70px;
}

.loading-img{
    margin-left: 30%;
}
.main-footer{
    z-index: 1;
    position: relative;
}

.photo_upload_description {
    font-size: 12px;
    color: #dc3545;
}

.chat-datetime{
    position: absolute;
    display: -webkit-box;
    margin-top: 13px;
    width: 100%;
    font-size: 10px;
    color: #000;
    margin-left: -17px;
}

.chat-datetime.with-img{
    margin-top: 100px!important;
    margin-left: 15px!important;
}

.chat-component::-webkit-scrollbar {
    width: 3px;
}

.chat-component::-webkit-scrollbar-thumb {
    background: #dee2e6;
}

.chat-component{
    overflow-x: hidden;
    overflow-y: auto;
    height: 525px;
}

.chat_type_1{
    text-align: left;
    width: 50%;
    float: left;
    display: -webkit-box;
    margin-bottom: 5px;
}

.chat_type_2{
    float: right;
    margin-bottom: 5px;
    width: 50%;
}

.chat_type_1 p{
    background: #6610f2d4;
    color: #eee;
    padding: 15px 20px;
    border-radius: 10px;
}

.chat_type_2 p{
    float: right;
    background: #dee2e6;
    color: #000;
    padding: 15px 20px;
    border-radius: 10px;
}

.chat_type_2 img{
    float: right;
    margin-bottom: 10px;
}

.send-sms, .send-photo{
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 17px;
    padding: 4px;
    margin-left: 5px;
    margin-top: 10%;
}

.chatting-footer{
    display: flex;
    background-color: #fff;
}

.chatting-footer textarea{
   /* border: 0px; */
}

.chat-lists,.chat-div,.chat-component {
    transition-property: all;
    transition-duration: 0.5s;
}

.chat-div{
    background: #f4f6f9;
    padding: 20px 30px;
    border-bottom: 2px solid #fff;
}

.chat-div.reading{
    background-color: #0080001a;
}

.chat-list-title,.chat-message{
    display: flex;
}

.chat-list-title .chat-name{
    width: 80%;
}

.chat-last-time{
    width: 20%;
    text-align: right;
    font-size: 12px;
    margin-top: 5px;
}

.chat-message p{
    width: 90%;
}

.chat-unread-count{
    float: right;
}

.chat-message .chat-unread-count{
    background-color: red;
    color: white;
    height: 20px;
    text-align: center;
    width: 20px;
    border-radius: 13px;
    font-size: 12px;
    padding: 1px;
    float: right;
    position: absolute;
    right: 15%;
}

table thead th:first-child{
    width: 5% !important;
}
thead th.status-col{
 width: 10% !important;
}
.reply-msg{
    padding-left: 50px!important;
}

.user-footer a{
    width: 100%;
    margin-top: 5px;
}

.fdr::before {
    content: attr(placeholder) !important;
    color: #aaa;
    width: 100%;
}

.brand-link{
    color: #fff!important;
}

.brand-image{
    background: #fff!important;
    opacity: 1!important;
}

.sc-date{
    width: 130px!important;
}

.main-sidebar .sidebar{
   max-height: 480px!important;
}

.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on{
    opacity: 1!important;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default{
    background: #9ca3a9!important;
    color: white!important;
}

.status_Pending{
    background: #007bff;
    color: #eee;
    padding: 5px 10px;
    border-radius: 25px;
    text-align: center;
    display: block;
}

.select2.select2-container.select2-container--default{
    width: 100%!important;
}

.main-sidebar{
    position: fixed!important;
}

.data-table > thead{
    background-color: #17a2b8;
    color: #fff;
}

input[type=file]{
    margin-left: 8px;
    width: 96.5%!important;
}

.dataTable{
    width: 100%!important;
}

span.status_Active{
    background: green;
    color: #eee;
    padding: 5px 10px;
    border-radius: 25px;
    text-align: center;
    display: block;
}

.status_Deactivated, .status_Inactive{
    background: orange;
    color: #eee;
    padding: 5px 10px;
    border-radius: 25px;
    text-align: center;
    display: block;
}

.options .invalid-feedback{
    padding-left: 25px;
}

.invalid-feedback{
    display: block;
}

.quiz_options{
   padding-left: 20px;
   padding-bottom: 10px!important;
}

.fa.fa-trash, .fa.fa-times{
    color: red;
}

input[type=checkbox], input[type=radio]{
    width: 20px;
}

#quiz_type, input[name=quiz_type]{
    height: 20px;
}

.select2-selection.select2-selection--multiple .select2-selection__rendered{
    height: 35px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 7px;
}
/*
.select2-selection.select2-selection--single{
    height: 37px!important;
}

.select2.select2-container.select2-container--bootstrap4{
    width: 100%;
    background: #fff;
    height: 100%;
    border: 1px solid #8080805c;
    border-radius: 4px
}

.select2-selection__clear{
    float: right;
}

.select2-selection__rendered, .select2-results__option{
    padding-top: 5px;
    padding-left: 15px!important;
}

.select2-selection__placeholder{
    color: #1f2d3d8a
}

.select2-selection__clear{
    font-weight: bolder;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow{
    color: black;
    position: absolute;
    top: 50%;
    right: 3px;
    width: 20px;
} */

.RS_role {
    border: 1px solid #1a2cc9;
    margin-right: 10px;
    margin-bottom: 25px;
    padding-bottom: 20px;
    -ms-flex: 0 0 23.7%!important;
    flex: 0 0 23.7%!important;
    max-width: 25%!important;
    padding-top: 60px;
    font-size: 15px;
}

.RS_role h6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #1a2cc9;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.RS_role input[type="checkbox"] {
    margin-right: 5px!important;
}

.RS_role span {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.dataTables_filter,.dataTables_length, .dataTables_info{
    display: none;
}

th.action-col {
    text-align: center;
    width: 6% !important;
}

th.action-col span {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(
        45deg);
            -webkit-transform: rotate(
        45deg);
            padding: 3px;
}

th.thumbnail{
    width: 11% !important;
}

.action-list{
    top : -4%!important;
    left : -5%!important;
}

div#alertMessage strong {
    color: #007bff;
      background-color: #fff;
      border-color: #007bff;
      display: inline-block;
      padding: 20px 50px;
      border-left: 5px solid;
      position: relative;
}

.alert-danger strong {
    color: red!important;
}

#alertMessage {
      position: fixed;
      top: 60%;
      background: transparent;
      border: none;
      width: 100%;
      text-align: center;
      left: 0;
  }

  .chat-detail{
    width: auto;
    margin-top: -128px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    z-index: 0;
    }
    .chat-name {
        font-size: 1.1rem;
    }
    .chat-lists{
    padding-right: 0px !important;
    overflow-x: hidden;
    overflow-y: auto;
    }

  @media screen
  and (min-device-width: 320px)
  and (max-device-width: 767px)
   {
    .chat-component {
        overflow-x: hidden;
        overflow-y: auto;
        height: 300px;
        }
    .chat-detail{
        width: 99%;
        margin: 0 auto;
        z-index: 0;
        margin-top: -662px;
        }
}
  /* @media screen
  and (min-device-width: 500px)
  and (max-device-width: 770px)
   {
    .chat-detail{
        width: 100%;
        margin-top: 0px;
        margin: 0 auto;
        z-index: 0;
        }
        .chat-name {
            font-size: 1.1rem;
        }
        .chat-lists{
        padding-right: 0px !important;
        overflow-x: hidden;
        overflow-y: auto;
        }
} */
@media screen
  and (min-device-width: 768px)
  and (max-device-width: 991px)
   {

}

@media screen
  and (min-device-width: 992px)
  and (max-device-width: 1199px)
   {

}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 2560px)
   {

}

